In [1]:
import sys
print(sys.executable)
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import os
import re
import warnings

c:\Users\User\AppData\Local\pypoetry\Cache\virtualenvs\credit-card-fraud-detection-model-FZHIqfLr-py3.13\Scripts\python.exe

# Data Exploration ‚Äì Dataset Tables

In this section we will first try to explore our raw dataset files to understand 
its structure, columns, datatypes, and potential issues (missing values, duplicates, etc.), before we preform any merge.

<br><u> We have 2 tables: </u></br>
* **customers.csv**
* **credit_card_fraud.csv**

### <u> Data Exploration ‚Äì Customers Dataset : </u>

In [2]:
transactions_df = pd.read_csv("C:/Users/User/Documents/GitHub/Credit_Card_Fraud_Detection_Model/data/credit_card_fraud.csv", index_col=0) #first column is index
customers_df = pd.read_csv("C:/Users/User/Documents/GitHub/Credit_Card_Fraud_Detection_Model/data/customers.csv", sep="|")

In [11]:
# Save once (binary format)
transactions_df.to_pickle("transactions.pkl")
customers_df.to_pickle("customers.pkl")
warnings.filterwarnings('ignore')

In [2]:
transactions_df = pd.read_pickle("transactions.pkl")
customers_df = pd.read_pickle("customers.pkl")

# Functions:

In [4]:
def compare_columns(df1, name1, df2, name2):
    """
    Compares columns between two DataFrames.
    Prints:
    1. Common columns and their data types in both datasets.
    2. Columns unique to each dataset.
    """
    set1, set2 = set(df1.columns), set(df2.columns)
    common = set1.intersection(set2)
    only_in_1 = set1 - set2
    only_in_2 = set2 - set1
    
    print("="*60)
    print("üîπ Common Columns with Data Types")
    if common:
        comparison = {
            "Column": [],
            f"{name1} dtype": [],
            f"{name2} dtype": []
        }
        for col in sorted(common):
            comparison["Column"].append(col)
            comparison[f"{name1} dtype"].append(df1[col].dtype)
            comparison[f"{name2} dtype"].append(df2[col].dtype)
        result = pd.DataFrame(comparison)
        print(result.to_string(index=False))
    else:
        print("No common columns found.")

    print("\n" + "="*60)
    print(f"üîπ Columns only in {name1}:")
    if only_in_1:
        print(sorted(list(only_in_1)))

    else:
        print("No unique columns found.")
    
    print("\n" + "="*60)
    print(f"üîπ Columns only in {name2}:")
    if only_in_2:
        print(sorted(list(only_in_2)))
    else:
        print("No unique columns found.")
    print("="*60)

    return common, only_in_1, only_in_2

In [5]:
def unique_values_report(df, name, max_rows=20):
    """
    Prints number of unique values for each column in a DataFrame.
    Shows top 'max_rows' columns sorted by uniqueness.
    """
    uniques = df.nunique().sort_values(ascending=False).reset_index()
    uniques.columns = ["Column", "Unique Values"]
    
    print(f"\nüîπ Unique Value Report for {name} (showing top {max_rows}):")
    print(uniques.head(max_rows).to_string(index=False))

In [6]:
def clean_punc(col):
    return (
        col.str.lower()  # lowercase
           .str.replace(r"[^a-z0-9\s]", "", regex=True)  # remove special chars
           .str.strip()  # remove leading/trailing spaces
    )

In [7]:
def column_summary(df):
    summary = pd.DataFrame({
        'count': df.shape[0],
        'nulls': df.isnull().sum(),
        'nulls%': df.isnull().mean() * 100,
        'cardinality': df.nunique(),
        'dtype': df.dtypes
    })
    return summary

In [8]:
def check_case_duplicates(df, column):
    """
    Checks if a column has values that differ only by letter case.
    Returns True if normalization (lower/upper) is recommended.
    """
    original_unique = set(df[column].dropna().unique())
    normalized_unique = set(df[column].dropna().str.lower().unique())
    
    # If sizes differ ‚Üí case duplicates exist
    if len(original_unique) != len(normalized_unique):
        print(f"‚ö†Ô∏è Column '{column}' has case duplicates.")
        diff = len(original_unique) - len(normalized_unique)
        print(f"   ‚Üí {diff} duplicate categories caused by case.")
        return True
    else:
        print(f"‚úÖ Column '{column}' has no case duplicates.")
        return False

In [9]:
def check_column_specials(df, column, sample_size=50000, sample=5):
    """
    Checks one column for punctuation or special characters.
    Uses a sample for speed on large datasets.
    
    Parameters:
    - df: pandas DataFrame
    - column: column name (string)
    - sample_size: number of rows to sample
    - sample: number of example values to display if issues are found
    """
    # Take a sample for speed
    df_sample = df[column].dropna().sample(
        min(sample_size, df[column].dropna().shape[0]), random_state=42
    ).astype(str)
    
    pattern = re.compile(r"[^a-zA-Z0-9\s]")
    mask = df_sample.str.contains(pattern, na=False)
    count = mask.sum()
    
    if count > 0:
        print(f"‚ö†Ô∏è Column '{column}' has {count} rows with special characters (in sample).")
        print("   Examples:", df_sample[mask].unique()[:sample])
        return "Needs Cleaning"
    else:
        print(f"‚úÖ Column '{column}' is clean (no special characters in sample).")
        return "Clean"

In [10]:
def add_remark(summary_table, col_name, remark):
    """
    Add a remark for a specific column in the summary_table.
    
    Parameters:
        summary_table (pd.DataFrame): The summary table with 'remark' column.
        col_name (str): Column name to mark.
        remark (str): Remark text to add.
    """
    summary_table.loc[summary_table.index == col_name, "remark"] = remark
    display(summary_table.sort_values("cardinality", ascending=False))


def status_check(summary_table):
    """
    Display all columns in summary_table that have no remark.
    Works for both empty strings and NaN values.
    
    Parameters:
        summary_table (pd.DataFrame): The summary table with 'remark' column.
    """
    unmarked = summary_table[summary_table["remark"].isna() | (summary_table["remark"] == "")]
    display(unmarked.sort_values("cardinality", ascending=False))

## Pre-Merge Checks

- Name match  
- Data type match  
- Value overlap  
- Uniqueness  
- Nulls  
- Duplicates

In [11]:
# Table Shape & Info:
transactions_df.shape, customers_df.shape

((34636378, 26), (20000, 16))

#### <font color='Navy'> 1.Columns & Data types inspection

In [12]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34636378 entries, 0 to 34636377
Data columns (total 26 columns):
 #   Column      Dtype
---  ------      -----
 0   ssn         object
 1   cc_num      int64
 2   first       object
 3   last        object
 4   gender      object
 5   street      object
 6   city        object
 7   state       object
 8   zip         int64
 9   lat         float64
 10  long        float64
 11  city_pop    int64
 12  job         object
 13  dob         object
 14  acct_num    int64
 15  profile     object
 16  trans_num   object
 17  trans_date  object
 18  trans_time  object
 19  unix_time   int64
 20  category    object
 21  amt         float64
 22  is_fraud    int64
 23  merchant    object
 24  merch_lat   float64
 25  merch_long  float64
dtypes: float64(5), int64(6), object(15)
memory usage: 7.0+ GB

In [13]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ssn       20000 non-null  object
 1   cc_num    20000 non-null  int64
 2   first     20000 non-null  object
 3   last      20000 non-null  object
 4   gender    20000 non-null  object
 5   street    20000 non-null  object
 6   city      20000 non-null  object
 7   state     20000 non-null  object
 8   zip       20000 non-null  int64
 9   lat       20000 non-null  float64
 10  long      20000 non-null  float64
 11  city_pop  20000 non-null  int64
 12  job       20000 non-null  object
 13  dob       20000 non-null  object
 14  acct_num  20000 non-null  int64
 15  profile   20000 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 2.4+ MB

#### <font color='navy'>
- Column Comparison - Name and Data Types
- Common Columns
- Nulls count check in both data sets

In [14]:
# Column Comparison - Name and Data Types:
common_cols, only_in_transactions, only_in_customers = compare_columns(
    transactions_df, "transactions", customers_df, "customers"
)

#Common columns:
print("Common columns:", common_cols) 

# Nulls check on common columns  - do we need the merge ? is the key column complete ?
print("Null counts in transactions:")
print(transactions_df[list(common_cols)].isna().sum())

print("Null counts in customers:")
print(customers_df[list(common_cols)].isna().sum())

============================================================
üîπ Common Columns with Data Types
  Column transactions dtype customers dtype
acct_num              int64           int64
  cc_num              int64           int64
    city             object          object
city_pop              int64           int64
     dob             object          object
   first             object          object
  gender             object          object
     job             object          object
    last             object          object
     lat            float64         float64
    long            float64         float64
 profile             object          object
     ssn             object          object
   state             object          object
  street             object          object
     zip              int64           int64

============================================================
üîπ Columns only in transactions:
['amt', 'category', 'is_fraud', 'merch_lat', 'merch_long', 'merchant', 'trans_date', 'trans_num', 'trans_time', 'unix_time']

============================================================
üîπ Columns only in customers:
No unique columns found.
============================================================
Common columns: {'job', 'zip', 'acct_num', 'last', 'city_pop', 'lat', 'city', 'profile', 'cc_num', 'gender', 'state', 'street', 'long', 'dob', 'ssn', 'first'}
Null counts in transactions:

KeyboardInterrupt:

#### <font color='Indigo'> Data type Correction - Date type

In [ ]:
transactions_df['trans_date'] = pd.to_datetime(transactions_df['trans_date'], errors='coerce')
transactions_df['trans_time'] = pd.to_datetime(transactions_df['trans_time'], format='%H:%M:%S', errors='coerce')
transactions_df['dob'] = pd.to_datetime(transactions_df['dob'], errors='coerce')
customers_df['dob'] = pd.to_datetime(customers_df['dob'], errors='coerce')

In [ ]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34636378 entries, 0 to 34636377
Data columns (total 26 columns):
 #   Column      Dtype
---  ------      -----
 0   ssn         object
 1   cc_num      int64
 2   first       object
 3   last        object
 4   gender      object
 5   street      object
 6   city        object
 7   state       object
 8   zip         int64
 9   lat         float64
 10  long        float64
 11  city_pop    int64
 12  job         object
 13  dob         datetime64[ns]
 14  acct_num    int64
 15  profile     object
 16  trans_num   object
 17  trans_date  datetime64[ns]
 18  trans_time  datetime64[ns]
 19  unix_time   int64
 20  category    object
 21  amt         float64
 22  is_fraud    int64
 23  merchant    object
 24  merch_lat   float64
 25  merch_long  float64
dtypes: datetime64[ns](3), float64(5), int64(6), object(12)
memory usage: 7.0+ GB

In [ ]:
trans_cards = set(transactions_df['cc_num'])
cust_cards = set(customers_df['cc_num'])

overlap = trans_cards.intersection(cust_cards)

print("Unique cc_num in transactions:", len(trans_cards))
print("Unique cc_num in customers   :", len(cust_cards))
print("Overlapping cc_num           :", len(overlap))
print("Overlap coverage in transactions: {:.2f}%".format(len(overlap) / len(trans_cards) * 100))
print("Overlap coverage in customers   : {:.2f}%".format(len(overlap) / len(cust_cards) * 100))

Unique cc_num in transactions: 19948
Unique cc_num in customers   : 20000
Overlapping cc_num           : 19948
Overlap coverage in transactions: 100.00%
Overlap coverage in customers   : 99.74%

We want to confirm that each cc_num in customers_df appears only once (one row per customer).
If there are duplicates, merging could cause row multiplication.

In [ ]:
# Count duplicate customer IDs
dup_customers = customers_df['cc_num'].duplicated().sum()

print("Total customers:", customers_df.shape[0])
print("Unique customer IDs:", customers_df['cc_num'].nunique())
print("Duplicate customer IDs:", dup_customers)

# If there are duplicates, show a few
if dup_customers > 0:
    display(customers_df[customers_df['cc_num'].duplicated(keep=False)].head())

Total customers: 20000
Unique customer IDs: 20000
Duplicate customer IDs: 0

we will use the cc_num as the key join factor. the following check is just to confirm that this key has no missing values in it for each table.

In [ ]:
print("Nulls in transactions cc_num:", transactions_df['cc_num'].isna().sum())
print("Nulls in customers cc_num   :", customers_df['cc_num'].isna().sum())

Nulls in transactions cc_num: 0
Nulls in customers cc_num   : 0

In [ ]:
print("Duplicate rows in transactions:", transactions_df.duplicated().sum())
print("Duplicate rows in customers   :", customers_df.duplicated().sum())

Duplicate rows in transactions: 0
Duplicate rows in customers   : 0

What was found:
- All columns in customers.csv already exist in transactions_df.
- common columns in both dfs have no nulls.
- Customers_df have no extra special columns that can contribute extra informaiton. 
- The only difference is that customers.csv has a few extra cc_num that don‚Äôt appear in transactions.
- Those extra customers are irrelevant for fraud detection, because fraud is defined at the transaction level.

### <u> Data Exploration ‚Äì credit_card_fraud Dataset </u>

In [ ]:
df = transactions_df

Since there is no additional information given by the customer.csv, we will be working on the credict_cart_fraud.csv
1. Duplicate rows - completed in previous section. no duplicates.
2. Null inspection
3. Check object columns
4. drop if a column has only one unique value
5. Convert an objects into viable data 
6. Clean special characters and punctioation
7. convert gender
8. drop first and last name
9. group states
10. remove street?

In [ ]:
# Run on transactions_df
summary_table = column_summary(df)
display(summary_table.sort_values("nulls%", ascending=False))

               count  nulls  nulls%  cardinality           dtype
ssn         34636378      0     0.0        19948          object
cc_num      34636378      0     0.0        19948           int64
first       34636378      0     0.0          686          object
last        34636378      0     0.0         1000          object
gender      34636378      0     0.0            2          object
street      34636378      0     0.0        19948          object
city        34636378      0     0.0         5184          object
state       34636378      0     0.0           51          object
zip         34636378      0     0.0        10218           int64
lat         34636378      0     0.0         9860         float64
long        34636378      0     0.0        10069         float64
city_pop    34636378      0     0.0         6236           int64
job         34636378      0     0.0          639          object
dob         34636378      0     0.0        13861  datetime64[ns]
acct_num    34636378      0     0.0        19948           int64
profile     34636378      0     0.0           12          object
trans_num   34636378      0     0.0     34636378          object
trans_date  34636378      0     0.0          731  datetime64[ns]
trans_time  34636378      0     0.0        86400  datetime64[ns]
unix_time   34636378      0     0.0     21837719           int64
category    34636378      0     0.0           14          object
amt         34636378      0     0.0       174288         float64
is_fraud    34636378      0     0.0            2           int64
merchant    34636378      0     0.0          693          object
merch_lat   34636378      0     0.0     15942663         float64
merch_long  34636378      0     0.0     23233358         float64

## Column Summary ‚Äì Key Insights

- **No Nulls**: All columns have 0 null values ‚Üí no imputation required at this stage.  
- **Dataset Size**: The dataset contains ~34.6M rows ‚Üí operations can be slow, so sampling may be needed for EDA.  
- **High-Cardinality (ID-like) Columns**: `ssn`, `cc_num`, `acct_num`, `trans_num` have many unique values (up to 1 per row).  
  - These are identifiers and not useful for EDA/modeling beyond grouping.  
- **Categorical Columns (low/moderate cardinality)**:  
  - `gender` (2 values), `state` (51), `category` (14), `profile` (12) ‚Üí well-suited for analysis.  
- **Medium/High-Cardinality Categoricals**:  
  - `city` (~5K), `job` (~600), `merchant` (~700) ‚Üí useful but may need category reduction (grouping rare values).  
- **Datetime Columns**: `dob`, `trans_date`, `trans_time` are already converted.  
  - Useful for deriving `age`, `year`, `month`, `day_of_week`.  
- **Numeric Columns**:  
  - `amt` (transaction amount), `city_pop`, `lat/long`, `merch_lat/long`.  
  - Some have very high precision and may require binning or transformation.  

**‚û°Ô∏è Next Step:** Focus on reducing categories, deriving new time-based features, and preparing the dataset for EDA visualizations.

# Columns Consider dropping:

In [ ]:
# Identify columns where every row has a unique value
columns_to_drop = df.columns[df.nunique() == df.shape[0]]

In [ ]:
print("Columns with all unique values (to consider dropping):", list(columns_to_drop))

Columns with all unique values (to consider dropping): ['trans_num']

### paired data checker:

In [ ]:
# checks whether the SSN (ssn) and credit card number (cc_num) always change together in a DataFrame (df).
def paired_data_checker(df, col1, col2):
    """
    Checks if two columns always change together in a DataFrame.
    Returns True if they always change together, False otherwise.
    """
    paired_changes = df[[col1, col2]].drop_duplicates()
    unique_col1 = df[col1].nunique()
    unique_col2 = df[col2].nunique()
    
    if len(paired_changes) == max(unique_col1, unique_col2):
        print(f"{col1} and {col2} always change together. consider dropping one of them.")
        return
    else:
        print(f"{col1} and {col2} do not always change together.")
        return

# ssn_ccnum_pairs = df[['ssn', 'cc_num']].drop_duplicates()
# if len(ssn_ccnum_pairs) == len(df[['ssn', 'cc_num']].drop_duplicates(subset=['ssn'])):
#     print("ssn and cc_num always change together. Check whether to delete the column.")
# else:
#     print("ssn and cc_num do not always change together.")
# #############  df = df.drop(columns=['ssn']) ############

In [ ]:
paired_data_checker(df, 'ssn', 'cc_num')
paired_data_checker(df, 'acct_num', 'cc_num')

ssn and cc_num always change together. consider dropping one of them.
acct_num and cc_num always change together. consider dropping one of them.

## Handle objects:

In [ ]:
df = df.astype({col: 'string' for col in df.select_dtypes(include='object').columns})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34636378 entries, 0 to 34636377
Data columns (total 26 columns):
 #   Column      Dtype
---  ------      -----
 0   ssn         string
 1   cc_num      int64
 2   first       string
 3   last        string
 4   gender      string
 5   street      string
 6   city        string
 7   state       string
 8   zip         int64
 9   lat         float64
 10  long        float64
 11  city_pop    int64
 12  job         string
 13  dob         datetime64[ns]
 14  acct_num    int64
 15  profile     string
 16  trans_num   string
 17  trans_date  datetime64[ns]
 18  trans_time  datetime64[ns]
 19  unix_time   int64
 20  category    string
 21  amt         float64
 22  is_fraud    int64
 23  merchant    string
 24  merch_lat   float64
 25  merch_long  float64
dtypes: datetime64[ns](3), float64(5), int64(6), string(12)
memory usage: 7.0 GB

In [ ]:
# df['ssn'].head(5) --> 750-09-7342
df['ssn'] = df['ssn'].str.replace('-', '', regex=False)
df['ssn'].head(5)

0    750097342
1    750097342
2    750097342
3    750097342
4    750097342
Name: ssn, dtype: string

###Geneder conversion

In [ ]:
# Convert 'F' to 1 and 'M' to 0
df['gender'] = df['gender'].replace({'F': '1', 'M': '0'}).astype(int)
df['gender'].value_counts()

gender
1    17929380
0    16706998
Name: count, dtype: int64

In [ ]:
df_city = df['city']
df_city.value_counts()

city
Houston        349782
Chicago        338207
Brooklyn       294986
Los Angeles    263621
Las Vegas      207079
                ...
Church Hill         7
Ash                 7
Oakley              7
Piney Flats         7
Montesano           7
Name: count, Length: 5184, dtype: Int64

In [ ]:
df_city2 = df_city.str.upper()

In [ ]:
# check_case_duplicates(df, "city")
# check_case_duplicates(df, "state")
check_case_duplicates(df, "job")

'‚úÖ Columns have no case duplicates.'

‚úÖ Column 'job' has no case duplicates.

'‚úÖ Columns have no case duplicates.'

# Handling strings columns:

1. Columns to remove - create variable that marks them ( actual removal can be later)
2. Extraction of additional data

In [ ]:
df_strs =df.select_dtypes(include='string')

In [ ]:
df_strs.head(3)

,ssn,first,last,street,city,state,job,profile,trans_num,category,merchant
0,750097342,Amanda,Morris,144 Bowers Route,Tracy,CA,Teaching laboratory technician,young_adults_female_urban.json,52226c099d060def61a7e0d3de214e4b,misc_net,"fraud_Moore, Dibbert and Koepp"
1,750097342,Amanda,Morris,144 Bowers Route,Tracy,CA,Teaching laboratory technician,young_adults_female_urban.json,6495d95c66d7d504d7352f2b8c105d3c,misc_net,fraud_Dach-Nader
2,750097342,Amanda,Morris,144 Bowers Route,Tracy,CA,Teaching laboratory technician,young_adults_female_urban.json,bc0bfcd9e0132b171e538192b0e27777,grocery_pos,fraud_Pacocha-O'Reilly

## 1) Cardinality Inspection:

2.1 Job Column:

In [ ]:
# Run on transactions_df
summary_table = column_summary(df_strs)
display(summary_table.sort_values("cardinality", ascending=False))

              count  nulls  nulls%  cardinality           dtype
trans_num  34636378      0     0.0     34636378  string[python]
street     34636378      0     0.0        19948  string[python]
ssn        34636378      0     0.0        19948  string[python]
city       34636378      0     0.0         5184  string[python]
last       34636378      0     0.0         1000  string[python]
merchant   34636378      0     0.0          693  string[python]
first      34636378      0     0.0          686  string[python]
job        34636378      0     0.0          639  string[python]
state      34636378      0     0.0           51  string[python]
category   34636378      0     0.0           14  string[python]
profile    34636378      0     0.0           12  string[python]

# 1) Columns to remove

In [ ]:
removal_columns = ["ssn", "first", "last", "street", "trans_num"]
#ssn - semsitive, no predictive power, unique per person
#first, last - no predictive power
#street - high cardinality, no predictive power
#trans_num - unique per transaction, no predictive power
summary_table.loc[summary_table.index.isin(removal_columns), "remark"] = "remove"
display(summary_table.sort_values("cardinality", ascending=False))

              count  nulls  nulls%  cardinality           dtype  remark
trans_num  34636378      0     0.0     34636378  string[python]  remove
street     34636378      0     0.0        19948  string[python]  remove
ssn        34636378      0     0.0        19948  string[python]  remove
city       34636378      0     0.0         5184  string[python]     NaN
last       34636378      0     0.0         1000  string[python]  remove
merchant   34636378      0     0.0          693  string[python]     NaN
first      34636378      0     0.0          686  string[python]  remove
job        34636378      0     0.0          639  string[python]     NaN
state      34636378      0     0.0           51  string[python]     NaN
category   34636378      0     0.0           14  string[python]     NaN
profile    34636378      0     0.0           12  string[python]     NaN

In [ ]:
status_check(summary_table)

             count  nulls  nulls%  cardinality           dtype remark
city      34636378      0     0.0         5184  string[python]    NaN
merchant  34636378      0     0.0          693  string[python]    NaN
state     34636378      0     0.0           51  string[python]    NaN
category  34636378      0     0.0           14  string[python]    NaN
profile   34636378      0     0.0           12  string[python]    NaN

In [ ]:
print(df_strs["job"].str.lower().str.strip().unique().tolist())

['teaching laboratory technician', 'scientist, clinical (histocompatibility and immunogenetics)', 'english as a second language teacher', 'exercise physiologist', 'metallurgist', 'adult nurse', 'designer, television/film set', 'contractor', 'haematologist', 'therapist, drama', 'surveyor, mining', 'acupuncturist', 'publishing copy', 'lecturer, higher education', 'broadcast engineer', 'dispensing optician', 'legal secretary', 'chief of staff', 'administrator', 'environmental health practitioner', 'surveyor, planning and development', 'community arts worker', 'chemist, analytical', 'geographical information systems officer', 'health and safety inspector', 'police officer', 'barrister', 'amenity horticulturist', 'engineer, manufacturing', 'writer', 'race relations officer', 'careers information officer', 'fish farm manager', 'engineer, electronics', 'civil service fast streamer', 'pension scheme manager', 'media buyer', 'armed forces training and education officer', 'scientist, research (maths)', 'rural practice surveyor', 'community education officer', 'ecologist', 'advertising account planner', 'marine scientist', 'naval architect', 'automotive engineer', 'air traffic controller', 'advertising account executive', 'engineer, drilling', 'brewing technologist', 'toxicologist', 'historic buildings inspector/conservation officer', 'hydrologist', 'occupational hygienist', 'engineer, automotive', 'designer, exhibition/display', 'horticultural therapist', 'special effects artist', 'marketing executive', 'agricultural consultant', 'financial risk analyst', 'doctor, hospital', 'scientist, research (medical)', 'producer, radio', 'dealer', 'economist', 'lawyer', 'print production planner', 'maintenance engineer', 'intelligence analyst', "nurse, children's", 'designer, multimedia', 'film/video editor', 'editorial assistant', 'market researcher', 'human resources officer', 'travel agency manager', 'food technologist', 'product manager', 'training and development officer', 'engineer, aeronautical', 'chief strategy officer', 'sports development officer', 'administrator, charities/voluntary organisations', 'leisure centre manager', 'tour manager', 'estate agent', 'medical illustrator', 'science writer', 'forest/woodland manager', 'english as a foreign language teacher', 'radiographer, diagnostic', 'psychiatrist', 'clinical embryologist', 'local government officer', 'energy engineer', 'production assistant, radio', 'press photographer', 'surveyor, minerals', 'animator', 'fine artist', 'speech and language therapist', 'loss adjuster, chartered', 'production manager', 'trade union research officer', 'research scientist (life sciences)', 'photographer', 'information systems manager', 'accountant, chartered management', 'journalist, newspaper', 'immunologist', 'farm manager', 'barista', 'licensed conveyancer', 'engineer, agricultural', 'lighting technician, broadcasting/film/video', 'animal technologist', 'gaffer', 'data scientist', 'contracting civil engineer', 'field trials officer', 'surveyor, insurance', 'trade mark attorney', 'therapist, nutritional', 'journalist, broadcasting', 'youth worker', 'plant breeder/geneticist', 'freight forwarder', 'electrical engineer', 'housing manager/officer', 'scientist, physiological', 'quality manager', 'scientist, water quality', 'artist', 'visual merchandiser', 'set designer', 'telecommunications researcher', 'pilot, airline', 'careers adviser', 'ranger/warden', 'public house manager', 'buyer, retail', 'research officer, political party', 'multimedia specialist', 'medical sales representative', 'oncologist', 'exhibitions officer, museum/gallery', 'optometrist', 'engineer, water', 'banker', 'fitness centre manager', 'water engineer', 'bookseller', 'geophysicist/field seismologist', 'land', 'warehouse manager', 'best boy', 'engineer, petroleum', 'television floor manager', 'pathologist', 'teacher, adult education', 'minerals surveyor', 'biomedical scientist', 'teacher, early years/pre', 'programme researcher, broadcasting/film/video', 'early years teacher', 'museum education officer', 'mechanical engineer', 'network engineer', 'engineer, building services', 'designer, textile', 'education officer, museum', 'retail manager', 'legal executive', 'clinical molecular geneticist', 'radio broadcast assistant', 'building surveyor', 'hotel manager', 'designer, graphic', 'physiological scientist', 'teacher, english as a foreign language', 'sports administrator', 'librarian, public', 'materials engineer', 'architectural technologist', 'corporate investment banker', 'psychologist, counselling', 'communications engineer', 'colour technologist', 'claims inspector/assessor', 'cartographer', 'graphic designer', 'tefl teacher', 'consulting civil engineer', 'psychologist, prison and probation services', 'technical sales engineer', 'commercial art gallery manager', 'estate manager/land agent', 'programmer, systems', 'nurse, learning disability', 'learning disability nurse', 'control and instrumentation engineer', 'product/process development scientist', 'insurance claims handler', 'hospital doctor', 'psychotherapist, child', 'volunteer coordinator', 'printmaker', 'sport and exercise psychologist', 'engineer, maintenance (it)', 'customer service manager', 'chartered accountant', 'event organiser', 'health physicist', 'magazine journalist', 'editor, film/video', 'interior and spatial designer', 'production assistant, television', 'sound technician, broadcasting/film/video', 'art therapist', 'biochemist, clinical', 'media planner', 'solicitor, scotland', 'animal nutritionist', 'environmental education officer', 'orthoptist', 'health and safety adviser', 'designer, blown glass/stained glass', 'armed forces technical officer', 'psychologist, sport and exercise', 'music therapist', 'further education lecturer', 'energy manager', 'optician, dispensing', 'civil engineer, contracting', 'video editor', 'public relations officer', 'software engineer', 'tax adviser', 'clinical scientist, histocompatibility and immunogenetics', 'sales professional, it', 'adult guidance worker', 'architect', 'quantity surveyor', 'pharmacist, hospital', 'cytogeneticist', 'prison officer', 'planning and development surveyor', 'tree surgeon', 'drilling engineer', 'interpreter', 'corporate treasurer', 'child psychotherapist', 'recruitment consultant', 'designer, interior/spatial', 'presenter, broadcasting', 'accountant, chartered', 'counsellor', 'accommodation manager', 'seismic interpreter', 'data processing manager', 'hospital pharmacist', 'stage manager', 'conservation officer, nature', 'furniture conservator/restorer', 'actor', 'engineer, control and instrumentation', 'retail merchandiser', 'horticultural consultant', 'tourist information centre manager', 'it sales professional', 'archivist', 'homeopath', 'radio producer', 'office manager', 'designer, industrial/product', 'podiatrist', 'doctor, general practice', 'development worker, community', 'airline pilot', 'secondary school teacher', 'diagnostic radiographer', 'financial trader', 'biomedical engineer', 'dentist', 'international aid/development worker', 'chartered legal executive (england and wales)', 'emergency planning/management officer', 'music tutor', 'academic librarian', 'engineer, production', 'logistics and distribution manager', 'social worker', 'land/geomatics surveyor', 'clinical research associate', 'personnel officer', 'engineer, manufacturing systems', 'insurance underwriter', 'scientist, research (physical sciences)', 'immigration officer', 'higher education careers adviser', 'education officer, community', 'occupational therapist', 'probation officer', 'chief executive officer', 'psychologist, occupational', 'programmer, multimedia', 'arts administrator', 'structural engineer', 'geochemist', 'financial controller', 'ceramics designer', 'investment banker, operational', 'solicitor', 'ship broker', 'investment banker, corporate', 'education officer, environmental', 'operational researcher', 'catering manager', 'it consultant', 'chartered loss adjuster', 'retail banker', 'psychotherapist', 'chartered certified accountant', 'teacher, primary school', 'conference centre manager', 'designer, jewellery', 'clinical cytogeneticist', 'air broker', 'site engineer', 'geoscientist', 'therapist, horticultural', 'information officer', 'medical laboratory scientific officer', 'trading standards officer', 'professor emeritus', 'exhibition designer', 'tax inspector', 'systems analyst', 'production engineer', 'location manager', 'geologist, wellsite', 'web designer', 'administrator, sports', 'oceanographer', 'senior tax professional/tax inspector', 'learning mentor', 'scientific laboratory technician', 'chief technology officer', 'building services engineer', 'horticulturist, amenity', 'surveyor, building', 'charity officer', 'environmental consultant', 'conservation officer, historic buildings', 'microbiologist', 'waste management officer', 'scientist, product/process development', 'sales executive', 'engineer, site', 'secretary, company', 'therapist, music', 'engineering geologist', 'equality and diversity officer', 'industrial/product designer', 'chemical engineer', 'merchandiser, retail', 'audiological scientist', 'newspaper journalist', 'diplomatic services operational officer', 'engineer, biomedical', 'accounting technician', 'it trainer', 'make', 'cabin crew', 'musician', 'therapist, sports', 'agricultural engineer', 'administrator, civil service', 'meteorologist', 'pharmacist, community', 'advertising copywriter', 'operations geologist', 'tourism officer', 'facilities manager', 'bonds trader', 'accountant, chartered public finance', 'restaurant manager, fast food', 'product designer', 'engineer, electrical', 'nurse, mental health', 'therapist, speech and language', 'operational investment banker', 'forensic scientist', 'theme park manager', 'armed forces logistics/support/administrative officer', 'mental health nurse', 'engineer, materials', 'paediatric nurse', 'ophthalmologist', 'social researcher', 'translator', 'teacher, secondary school', 'civil service administrator', 'public librarian', 'private music teacher', 'research officer, government', 'clinical biochemist', 'neurosurgeon', 'patent attorney', 'surveyor, quantity', 'editor, commissioning', 'dancer', 'psychologist, clinical', 'heritage manager', 'actuary', 'nature conservation officer', 'education administrator', 'theatre director', 'financial manager', 'commercial/residential surveyor', 'broadcast journalist', 'chartered public finance accountant', 'environmental manager', 'dietitian', 'technical author', 'surveyor, hydrographic', 'social research officer, government', 'ambulance person', 'engineer, civil (contracting)', 'purchasing manager', 'warden/ranger', 'personal assistant', 'civil engineer, consulting', 'database administrator', 'teacher, music', 'call centre manager', 'museum/gallery curator', 'advice worker', 'engineer, mining', 'secretary/administrator', 'physiotherapist', 'magazine features editor', 'chiropractor', 'primary school teacher', 'computer games developer', 'outdoor activities/education manager', 'engineer, broadcasting (operations)', 'fashion designer', 'curator', 'teacher, special educational needs', 'financial planner', 'nutritional therapist', 'designer, furniture', 'landscape architect', 'surveyor, building control', 'psychotherapist, dance movement', 'television/film/video producer', 'accountant, chartered certified', 'retail buyer', 'insurance broker', 'development worker, international aid', 'advertising art director', 'geneticist, molecular', 'manufacturing systems engineer', 'buyer, industrial', 'research scientist (maths)', 'hydrogeologist', 'recycling officer', 'clothing/textile technologist', 'conservator, museum/gallery', 'public relations account executive', 'aeronautical engineer', 'town planner', 'research officer, trade union', 'theatre stage manager', 'radiation protection practitioner', 'hydrographic surveyor', 'forensic psychologist', 'surveyor, commercial/residential', 'aid worker', 'publishing rights manager', 'sales promotion account executive', 'equities trader', 'phytotherapist', 'arts development officer', 'multimedia programmer', 'therapeutic radiographer', 'research scientist (medical)', 'educational psychologist', 'government social research officer', 'physicist, medical', 'research scientist (physical sciences)', 'technical brewer', 'mining engineer', 'water quality scientist', 'psychologist, forensic', 'statistician', 'lobbyist', 'lexicographer', 'manufacturing engineer', 'holiday representative', 'museum/gallery conservator', 'garment/textile technologist', 'fisheries officer', 'lecturer, further education', 'systems developer', 'librarian, academic', 'sports coach', 'embryologist, clinical', 'herpetologist', 'nurse, adult', 'management consultant', 'company secretary', 'restaurant manager', 'osteopath', 'community development worker', 'community pharmacist', 'merchant navy officer', 'geologist, engineering', 'chief operating officer', 'passenger transport manager', 'financial adviser', 'electronics engineer', 'occupational psychologist', 'clinical psychologist', 'field seismologist', 'runner, broadcasting/film/video', 'arboriculturist', 'art gallery manager', 'insurance account manager', 'games developer', 'general practice doctor', 'editor, magazine features', 'firefighter', 'engineer, maintenance', 'administrator, local government', 'sub', 'chiropodist', 'geophysical data processor', 'risk analyst', 'insurance risk surveyor', 'industrial buyer', 'proofreader', "politician's assistant", 'copywriter, advertising', 'chief financial officer', 'museum/gallery exhibitions officer', 'charity fundraiser', 'copy', 'surgeon', 'archaeologist', 'futures trader', 'illustrator', 'engineer, technical sales', 'medical physicist', 'chartered management accountant', 'medical secretary', 'fast food restaurant manager', 'psychologist, educational', 'health service manager', 'glass blower/designer', 'public affairs consultant', 'records manager', 'higher education lecturer', 'analytical chemist', 'it technical support officer', 'commissioning editor', 'designer, ceramics/pottery', 'quarry manager', 'television production assistant', 'commercial horticulturist', 'surveyor, land/geomatics', 'engineer, communications', 'press sub', 'patent examiner', 'administrator, education', 'camera operator', 'regulatory affairs officer', 'special educational needs teacher', 'administrator, arts', 'designer, fashion/clothing', 'furniture designer', 'surveyor, rural practice', 'engineer, structural', 'veterinary surgeon', 'engineer, chemical', 'sports therapist', 'scientist, marine', "barrister's clerk", 'armed forces operational officer', 'pensions consultant', 'dramatherapist', 'engineer, civil (consulting)', 'herbalist', 'mudlogger', 'building control surveyor', 'journalist, magazine', 'midwife', 'associate professor', 'production designer, theatre/television/film', 'scientist, biomedical', 'wellsite geologist', 'comptroller', 'transport planner', 'scientist, audiological', 'medical technical officer', 'risk manager', 'applications developer', 'engineer, land', 'counselling psychologist', 'television camera operator', 'therapist, art', 'pharmacologist', 'broadcast presenter', 'psychiatric nurse', 'health promotion specialist', 'conservator, furniture', 'air cabin crew', 'producer, television/film/video', 'dance movement psychotherapist', 'therapist, occupational', 'astronomer', 'petroleum engineer', 'horticulturist, commercial', 'textile designer', 'theatre manager', 'investment analyst', 'chief marketing officer', 'paramedic', 'radiographer, therapeutic', 'scientist, research (life sciences)', 'ergonomist', 'health visitor', 'scientist, forensic', 'soil scientist', 'engineer, energy', 'programmer, applications', 'jewellery designer']

In [ ]:
unique_vals = df_strs["job"].unique().tolist()
print(unique_vals)

['Teaching laboratory technician', 'Scientist, clinical (histocompatibility and immunogenetics)', 'English as a second language teacher', 'Exercise physiologist', 'Metallurgist', 'Adult nurse', 'Designer, television/film set', 'Contractor', 'Haematologist', 'Therapist, drama', 'Surveyor, mining', 'Acupuncturist', 'Publishing copy', 'Lecturer, higher education', 'Broadcast engineer', 'Dispensing optician', 'Legal secretary', 'Chief of Staff', 'Administrator', 'Environmental health practitioner', 'Surveyor, planning and development', 'Community arts worker', 'Chemist, analytical', 'Geographical information systems officer', 'Health and safety inspector', 'Police officer', 'Barrister', 'Amenity horticulturist', 'Engineer, manufacturing', 'Writer', 'Race relations officer', 'Careers information officer', 'Fish farm manager', 'Engineer, electronics', 'Civil Service fast streamer', 'Pension scheme manager', 'Media buyer', 'Armed forces training and education officer', 'Scientist, research (maths)', 'Rural practice surveyor', 'Community education officer', 'Ecologist', 'Advertising account planner', 'Marine scientist', 'Naval architect', 'Automotive engineer', 'Air traffic controller', 'Advertising account executive', 'Engineer, drilling', 'Brewing technologist', 'Toxicologist', 'Historic buildings inspector/conservation officer', 'Hydrologist', 'Occupational hygienist', 'Engineer, automotive', 'Designer, exhibition/display', 'Horticultural therapist', 'Special effects artist', 'Marketing executive', 'Agricultural consultant', 'Financial risk analyst', 'Doctor, hospital', 'Scientist, research (medical)', 'Producer, radio', 'Dealer', 'Economist', 'Lawyer', 'Print production planner', 'Maintenance engineer', 'Intelligence analyst', "Nurse, children's", 'Designer, multimedia', 'Film/video editor', 'Editorial assistant', 'Market researcher', 'Human resources officer', 'Travel agency manager', 'Food technologist', 'Product manager', 'Training and development officer', 'Engineer, aeronautical', 'Chief Strategy Officer', 'Sports development officer', 'Administrator, charities/voluntary organisations', 'Leisure centre manager', 'Tour manager', 'Estate agent', 'Medical illustrator', 'Science writer', 'Forest/woodland manager', 'English as a foreign language teacher', 'Radiographer, diagnostic', 'Psychiatrist', 'Clinical embryologist', 'Local government officer', 'Energy engineer', 'Production assistant, radio', 'Press photographer', 'Surveyor, minerals', 'Animator', 'Fine artist', 'Speech and language therapist', 'Loss adjuster, chartered', 'Production manager', 'Trade union research officer', 'Research scientist (life sciences)', 'Photographer', 'Information systems manager', 'Accountant, chartered management', 'Journalist, newspaper', 'Immunologist', 'Farm manager', 'Barista', 'Licensed conveyancer', 'Engineer, agricultural', 'Lighting technician, broadcasting/film/video', 'Animal technologist', 'Gaffer', 'Data scientist', 'Contracting civil engineer', 'Field trials officer', 'Surveyor, insurance', 'Trade mark attorney', 'Therapist, nutritional', 'Journalist, broadcasting', 'Youth worker', 'Plant breeder/geneticist', 'Freight forwarder', 'Electrical engineer', 'Housing manager/officer', 'Scientist, physiological', 'Quality manager', 'Scientist, water quality', 'Artist', 'Visual merchandiser', 'Set designer', 'Telecommunications researcher', 'Pilot, airline', 'Careers adviser', 'Ranger/warden', 'Public house manager', 'Buyer, retail', 'Research officer, political party', 'Multimedia specialist', 'Medical sales representative', 'Oncologist', 'Exhibitions officer, museum/gallery', 'Optometrist', 'Engineer, water', 'Banker', 'Fitness centre manager', 'Water engineer', 'Bookseller', 'Geophysicist/field seismologist', 'Land', 'Warehouse manager', 'Best boy', 'Engineer, petroleum', 'Television floor manager', 'Pathologist', 'Teacher, adult education', 'Minerals surveyor', 'Biomedical scientist', 'Teacher, early years/pre', 'Programme researcher, broadcasting/film/video', 'Early years teacher', 'Museum education officer', 'Mechanical engineer', 'Network engineer', 'Engineer, building services', 'Designer, textile', 'Education officer, museum', 'Retail manager', 'Legal executive', 'Clinical molecular geneticist', 'Radio broadcast assistant', 'Building surveyor', 'Hotel manager', 'Designer, graphic', 'Physiological scientist', 'Teacher, English as a foreign language', 'Sports administrator', 'Librarian, public', 'Materials engineer', 'Architectural technologist', 'Corporate investment banker', 'Psychologist, counselling', 'Communications engineer', 'Colour technologist', 'Claims inspector/assessor', 'Cartographer', 'Graphic designer', 'TEFL teacher', 'Consulting civil engineer', 'Psychologist, prison and probation services', 'Technical sales engineer', 'Commercial art gallery manager', 'Estate manager/land agent', 'Programmer, systems', 'Nurse, learning disability', 'Learning disability nurse', 'Control and instrumentation engineer', 'Product/process development scientist', 'Insurance claims handler', 'Hospital doctor', 'Psychotherapist, child', 'Volunteer coordinator', 'Printmaker', 'Sport and exercise psychologist', 'Engineer, maintenance (IT)', 'Customer service manager', 'Chartered accountant', 'Event organiser', 'Health physicist', 'Magazine journalist', 'Editor, film/video', 'Interior and spatial designer', 'Production assistant, television', 'Sound technician, broadcasting/film/video', 'Art therapist', 'Biochemist, clinical', 'Media planner', 'Solicitor, Scotland', 'Animal nutritionist', 'Environmental education officer', 'Orthoptist', 'Health and safety adviser', 'Designer, blown glass/stained glass', 'Armed forces technical officer', 'Psychologist, sport and exercise', 'Music therapist', 'Further education lecturer', 'Energy manager', 'Optician, dispensing', 'Civil engineer, contracting', 'Video editor', 'Public relations officer', 'Software engineer', 'Tax adviser', 'Clinical scientist, histocompatibility and immunogenetics', 'Sales professional, IT', 'Adult guidance worker', 'Architect', 'Quantity surveyor', 'Pharmacist, hospital', 'Cytogeneticist', 'Prison officer', 'Planning and development surveyor', 'Tree surgeon', 'Drilling engineer', 'Interpreter', 'Corporate treasurer', 'Child psychotherapist', 'Recruitment consultant', 'Designer, interior/spatial', 'Presenter, broadcasting', 'Accountant, chartered', 'Counsellor', 'Accommodation manager', 'Seismic interpreter', 'Data processing manager', 'Hospital pharmacist', 'Stage manager', 'Conservation officer, nature', 'Furniture conservator/restorer', 'Actor', 'Engineer, control and instrumentation', 'Retail merchandiser', 'Horticultural consultant', 'Tourist information centre manager', 'IT sales professional', 'Archivist', 'Homeopath', 'Radio producer', 'Office manager', 'Designer, industrial/product', 'Podiatrist', 'Doctor, general practice', 'Development worker, community', 'Airline pilot', 'Secondary school teacher', 'Diagnostic radiographer', 'Financial trader', 'Biomedical engineer', 'Dentist', 'International aid/development worker', 'Chartered legal executive (England and Wales)', 'Emergency planning/management officer', 'Music tutor', 'Academic librarian', 'Engineer, production', 'Logistics and distribution manager', 'Social worker', 'Land/geomatics surveyor', 'Clinical research associate', 'Personnel officer', 'Engineer, manufacturing systems', 'Insurance underwriter', 'Scientist, research (physical sciences)', 'Immigration officer', 'Higher education careers adviser', 'Education officer, community', 'Occupational therapist', 'Probation officer', 'Chief Executive Officer', 'Psychologist, occupational', 'Programmer, multimedia', 'Arts administrator', 'Structural engineer', 'Geochemist', 'Financial controller', 'Ceramics designer', 'Investment banker, operational', 'Solicitor', 'Ship broker', 'Investment banker, corporate', 'Education officer, environmental', 'Operational researcher', 'Catering manager', 'IT consultant', 'Chartered loss adjuster', 'Retail banker', 'Psychotherapist', 'Chartered certified accountant', 'Teacher, primary school', 'Conference centre manager', 'Designer, jewellery', 'Clinical cytogeneticist', 'Air broker', 'Site engineer', 'Geoscientist', 'Therapist, horticultural', 'Information officer', 'Medical laboratory scientific officer', 'Trading standards officer', 'Professor Emeritus', 'Exhibition designer', 'Tax inspector', 'Systems analyst', 'Production engineer', 'Location manager', 'Geologist, wellsite', 'Web designer', 'Administrator, sports', 'Oceanographer', 'Senior tax professional/tax inspector', 'Learning mentor', 'Scientific laboratory technician', 'Chief Technology Officer', 'Building services engineer', 'Horticulturist, amenity', 'Surveyor, building', 'Charity officer', 'Environmental consultant', 'Conservation officer, historic buildings', 'Microbiologist', 'Waste management officer', 'Scientist, product/process development', 'Sales executive', 'Engineer, site', 'Secretary, company', 'Therapist, music', 'Engineering geologist', 'Equality and diversity officer', 'Industrial/product designer', 'Chemical engineer', 'Merchandiser, retail', 'Audiological scientist', 'Newspaper journalist', 'Diplomatic Services operational officer', 'Engineer, biomedical', 'Accounting technician', 'IT trainer', 'Make', 'Cabin crew', 'Musician', 'Therapist, sports', 'Agricultural engineer', 'Administrator, Civil Service', 'Meteorologist', 'Pharmacist, community', 'Advertising copywriter', 'Operations geologist', 'Tourism officer', 'Facilities manager', 'Bonds trader', 'Accountant, chartered public finance', 'Restaurant manager, fast food', 'Product designer', 'Engineer, electrical', 'Nurse, mental health', 'Therapist, speech and language', 'Operational investment banker', 'Forensic scientist', 'Theme park manager', 'Armed forces logistics/support/administrative officer', 'Mental health nurse', 'Engineer, materials', 'Paediatric nurse', 'Ophthalmologist', 'Social researcher', 'Translator', 'Teacher, secondary school', 'Civil Service administrator', 'Public librarian', 'Private music teacher', 'Research officer, government', 'Clinical biochemist', 'Neurosurgeon', 'Patent attorney', 'Surveyor, quantity', 'Editor, commissioning', 'Dancer', 'Psychologist, clinical', 'Heritage manager', 'Actuary', 'Nature conservation officer', 'Education administrator', 'Theatre director', 'Financial manager', 'Commercial/residential surveyor', 'Broadcast journalist', 'Chartered public finance accountant', 'Environmental manager', 'Dietitian', 'Technical author', 'Surveyor, hydrographic', 'Social research officer, government', 'Ambulance person', 'Engineer, civil (contracting)', 'Purchasing manager', 'Warden/ranger', 'Personal assistant', 'Civil engineer, consulting', 'Database administrator', 'Teacher, music', 'Call centre manager', 'Museum/gallery curator', 'Advice worker', 'Engineer, mining', 'Secretary/administrator', 'Physiotherapist', 'Magazine features editor', 'Chiropractor', 'Primary school teacher', 'Computer games developer', 'Outdoor activities/education manager', 'Engineer, broadcasting (operations)', 'Fashion designer', 'Curator', 'Teacher, special educational needs', 'Financial planner', 'Nutritional therapist', 'Designer, furniture', 'Landscape architect', 'Surveyor, building control', 'Psychotherapist, dance movement', 'Television/film/video producer', 'Accountant, chartered certified', 'Retail buyer', 'Insurance broker', 'Development worker, international aid', 'Advertising art director', 'Geneticist, molecular', 'Manufacturing systems engineer', 'Buyer, industrial', 'Research scientist (maths)', 'Hydrogeologist', 'Recycling officer', 'Clothing/textile technologist', 'Conservator, museum/gallery', 'Public relations account executive', 'Aeronautical engineer', 'Town planner', 'Research officer, trade union', 'Theatre stage manager', 'Radiation protection practitioner', 'Hydrographic surveyor', 'Forensic psychologist', 'Surveyor, commercial/residential', 'Aid worker', 'Publishing rights manager', 'Sales promotion account executive', 'Equities trader', 'Phytotherapist', 'Arts development officer', 'Multimedia programmer', 'Therapeutic radiographer', 'Research scientist (medical)', 'Educational psychologist', 'Government social research officer', 'Physicist, medical', 'Research scientist (physical sciences)', 'Technical brewer', 'Mining engineer', 'Water quality scientist', 'Psychologist, forensic', 'Statistician', 'Lobbyist', 'Lexicographer', 'Manufacturing engineer', 'Holiday representative', 'Museum/gallery conservator', 'Garment/textile technologist', 'Fisheries officer', 'Lecturer, further education', 'Systems developer', 'Librarian, academic', 'Sports coach', 'Embryologist, clinical', 'Herpetologist', 'Nurse, adult', 'Management consultant', 'Company secretary', 'Restaurant manager', 'Osteopath', 'Community development worker', 'Community pharmacist', 'Merchant navy officer', 'Geologist, engineering', 'Chief Operating Officer', 'Passenger transport manager', 'Financial adviser', 'Electronics engineer', 'Occupational psychologist', 'Clinical psychologist', 'Field seismologist', 'Runner, broadcasting/film/video', 'Arboriculturist', 'Art gallery manager', 'Insurance account manager', 'Games developer', 'General practice doctor', 'Editor, magazine features', 'Firefighter', 'Engineer, maintenance', 'Administrator, local government', 'Sub', 'Chiropodist', 'Geophysical data processor', 'Risk analyst', 'Insurance risk surveyor', 'Industrial buyer', 'Proofreader', "Politician's assistant", 'Copywriter, advertising', 'Chief Financial Officer', 'Museum/gallery exhibitions officer', 'Charity fundraiser', 'Copy', 'Surgeon', 'Archaeologist', 'Futures trader', 'Illustrator', 'Engineer, technical sales', 'Medical physicist', 'Chartered management accountant', 'Medical secretary', 'Fast food restaurant manager', 'Psychologist, educational', 'Health service manager', 'Glass blower/designer', 'Public affairs consultant', 'Records manager', 'Higher education lecturer', 'Analytical chemist', 'IT technical support officer', 'Commissioning editor', 'Designer, ceramics/pottery', 'Quarry manager', 'Television production assistant', 'Commercial horticulturist', 'Surveyor, land/geomatics', 'Engineer, communications', 'Press sub', 'Patent examiner', 'Administrator, education', 'Camera operator', 'Regulatory affairs officer', 'Special educational needs teacher', 'Administrator, arts', 'Designer, fashion/clothing', 'Furniture designer', 'Surveyor, rural practice', 'Engineer, structural', 'Veterinary surgeon', 'Engineer, chemical', 'Sports therapist', 'Scientist, marine', "Barrister's clerk", 'Armed forces operational officer', 'Pensions consultant', 'Dramatherapist', 'Engineer, civil (consulting)', 'Herbalist', 'Mudlogger', 'Building control surveyor', 'Journalist, magazine', 'Midwife', 'Associate Professor', 'Production designer, theatre/television/film', 'Scientist, biomedical', 'Wellsite geologist', 'Comptroller', 'Transport planner', 'Scientist, audiological', 'Medical technical officer', 'Risk manager', 'Applications developer', 'Engineer, land', 'Counselling psychologist', 'Television camera operator', 'Therapist, art', 'Pharmacologist', 'Broadcast presenter', 'Psychiatric nurse', 'Health promotion specialist', 'Conservator, furniture', 'Air cabin crew', 'Producer, television/film/video', 'Dance movement psychotherapist', 'Therapist, occupational', 'Astronomer', 'Petroleum engineer', 'Horticulturist, commercial', 'Textile designer', 'Theatre manager', 'Investment analyst', 'Chief Marketing Officer', 'Paramedic', 'Radiographer, therapeutic', 'Scientist, research (life sciences)', 'Ergonomist', 'Health visitor', 'Scientist, forensic', 'Soil scientist', 'Engineer, energy', 'Programmer, applications', 'Jewellery designer']

In [ ]:
def categorize_jobs(df, column, new_column="job_category"):
    """
    Categorizes jobs based on keywords in the job title.
    Adds a new column with high-level categories.
    """

    def assign_category(job):
        job = str(job).lower()  # ensure lowercase
        if any(word in job for word in ["nurse", "doctor", "surgeon", "dentist", "therapist", "pharmacist", "psychiatrist", "psychologist", "radiographer", "optician", "midwife", "paramedic", "biomedical", "oncologist", "immunologist", "pathologist", "health"]):
            return "healthcare"
        elif any(word in job for word in ["teacher", "lecturer", "professor", "educator", "education officer", "tutor", "school"]):
            return "education"
        elif any(word in job for word in ["engineer", "technician", "technologist", "architect", "surveyor", "scientist", "geologist", "chemist", "biologist", "researcher", "ecologist", "mathematician", "statistician", "physicist", "astronomer"]):
            return "science/engineering"
        elif any(word in job for word in ["lawyer", "barrister", "solicitor", "attorney", "legal", "judge", "magistrate"]):
            return "legal"
        elif any(word in job for word in ["accountant", "finance", "banker", "economist", "trader", "investment", "treasurer", "auditor", "actuary"]):
            return "finance"
        elif any(word in job for word in ["artist", "designer", "animator", "illustrator", "musician", "actor", "writer", "journalist", "editor", "photographer", "producer", "curator", "painter", "sculptor", "filmmaker"]):
            return "arts/media"
        elif any(word in job for word in ["manager", "consultant", "officer", "administrator", "coordinator", "executive", "director", "chief", "ceo", "cfo", "cio", "cto", "cmo", "coo"]):
            return "management/business"
        elif any(word in job for word in ["armed forces", "navy", "army", "air force", "military", "police", "firefighter", "security"]):
            return "public safety/military"
        elif any(word in job for word in ["agricultural", "farm", "horticulturist", "fisheries", "forester", "conservation", "ecologist", "gardener", "landscaper", "tree surgeon"]):
            return "agriculture/environment"
        elif any(word in job for word in ["it", "software", "developer", "programmer", "data scientist", "web", "computer", "cyber", "network", "systems", "applications", "ai", "machine learning"]):
            return "technology"
        else:
            return "other"

    # apply categorization
    df[new_column] = df[column].apply(assign_category)
    return df

In [ ]:
df = categorize_jobs(df, "job")
df[["job", "job_category"]].head(20)

                                                  job         job_category
0                      Teaching laboratory technician  science/engineering
1                      Teaching laboratory technician  science/engineering
2                      Teaching laboratory technician  science/engineering
3                      Teaching laboratory technician  science/engineering
4                      Teaching laboratory technician  science/engineering
5                      Teaching laboratory technician  science/engineering
6                      Teaching laboratory technician  science/engineering
7                      Teaching laboratory technician  science/engineering
8                      Teaching laboratory technician  science/engineering
9                      Teaching laboratory technician  science/engineering
10                     Teaching laboratory technician  science/engineering
11                     Teaching laboratory technician  science/engineering
12                     Teaching laboratory technician  science/engineering
13                     Teaching laboratory technician  science/engineering
14                     Teaching laboratory technician  science/engineering
15                     Teaching laboratory technician  science/engineering
16  Scientist, clinical (histocompatibility and im...  science/engineering
17  Scientist, clinical (histocompatibility and im...  science/engineering
18  Scientist, clinical (histocompatibility and im...  science/engineering
19  Scientist, clinical (histocompatibility and im...  science/engineering

In [ ]:
df_strs =df.select_dtypes(include='string')

In [ ]:
add_remark(summary_table, "job", "Reduced Cardinality to job_category")

,count,nulls,nulls%,cardinality,dtype,remark
trans_num,34636378,0,0.0,34636378,string[python],remove
street,34636378,0,0.0,19948,string[python],remove
ssn,34636378,0,0.0,19948,string[python],remove
city,34636378,0,0.0,5184,string[python],NaN
last,34636378,0,0.0,1000,string[python],remove
merchant,34636378,0,0.0,693,string[python],NaN
first,34636378,0,0.0,686,string[python],remove
job,34636378,0,0.0,639,string[python],Reduced Cardinality to job_category
state,34636378,0,0.0,51,string[python],NaN
category,34636378,0,0.0,14,string[python],NaN
profile,34636378,0,0.0,12,string[python],NaN

In [ ]:
status_check(summary_table)

             count  nulls  nulls%  cardinality           dtype remark
city      34636378      0     0.0         5184  string[python]    NaN
merchant  34636378      0     0.0          693  string[python]    NaN
state     34636378      0     0.0           51  string[python]    NaN
category  34636378      0     0.0           14  string[python]    NaN
profile   34636378      0     0.0           12  string[python]    NaN

In [ ]:
merchant= df_strs['merchant']
merchant.value_counts()

merchant
fraud_Kilback LLC                        116978
fraud_Kuhn LLC                           100661
fraud_Boyer PLC                           96383
fraud_Dickinson Ltd                       94573
fraud_Cormier LLC                         93873
                                          ...
fraud_Johnston-Casper                     21871
fraud_McLaughlin, Armstrong and Koepp     21869
fraud_Hagenes, Hermann and Stroman        21857
fraud_Kris-Kertzmann                      21808
fraud_Reichert-Weissnat                   21773
Name: count, Length: 693, dtype: Int64

In [ ]:
check_column_specials(df_strs, 'merchant', sample_size=10000, sample=10)

‚ö†Ô∏è Column 'merchant' has 10000 rows with special characters (in sample).
   Examples: ['fraud_Hirthe-Beier' 'fraud_Schmidt and Sons'
 'fraud_Bahringer, Bergnaum and Quitzon'
 'fraud_Heathcote, Yost and Kertzmann' 'fraud_Raynor, Reinger and Hagenes'
 'fraud_Swaniawski, Lowe and Robel' 'fraud_Emard Inc'
 'fraud_Powlowski-Weimann' 'fraud_Smith-Stokes' 'fraud_Reichel Inc']

'Needs Cleaning'

### Issues with 'merchant':
- High cardinality (many unique values)
- High granularity 
- Punctionation and special keys

In [ ]:
df['merchant'] = df['merchant'].str.replace('fraud_', '').str.replace(',', '')

In [ ]:
df['merchant'].value_counts()

merchant
Kilback LLC                       116978
Kuhn LLC                          100661
Boyer PLC                          96383
Dickinson Ltd                      94573
Cormier LLC                        93873
                                   ...
Johnston-Casper                    21871
McLaughlin Armstrong and Koepp     21869
Hagenes Hermann and Stroman        21857
Kris-Kertzmann                     21808
Reichert-Weissnat                  21773
Name: count, Length: 693, dtype: Int64

In [3]:
df.to_pickle("df_prep_str.pkl")

NameError: name 'df' is not defined

In [2]:
df = pd.read_pickle("df_prep_str.pkl")

In [ ]:
status_check(summary_table)

             count  nulls  nulls%  cardinality           dtype remark
city      34636378      0     0.0         5184  string[python]    NaN
merchant  34636378      0     0.0          693  string[python]    NaN
state     34636378      0     0.0           51  string[python]    NaN
category  34636378      0     0.0           14  string[python]    NaN
profile   34636378      0     0.0           12  string[python]    NaN

In [ ]:
df['profile']

In [ ]:
category_stats = (
    df.groupby('merchant')
      .agg(total_transactions=('merchant', 'count'),
           total_fraud=('is_fraud', 'sum'))
      .reset_index().sort_values(by='total_fraud', ascending=False))

print(category_stats)

                          merchant  total_transactions  total_fraud
573                     Schumm PLC               93760         1007
316                    Kilback LLC              116978         1006
349                       Kuhn LLC              100661         1002
70                       Boyer PLC               96383          964
201                    Goyette Inc               50986          959
..                             ...                 ...          ...
324                    Kling-Grant               28944           46
299                 Kemmer-Reinger               29336           45
511                     Rempel PLC               29551           44
292                Johnston-Casper               21871           43
568  Schroeder Wolff and Hermiston               22000           43

[693 rows x 3 columns]

Profile Clean

In [4]:
print(df["profile"].head(10))   # shows first 20 rows

0    young_adults_female_urban.json
1    young_adults_female_urban.json
2    young_adults_female_urban.json
3    young_adults_female_urban.json
4    young_adults_female_urban.json
5    young_adults_female_urban.json
6    young_adults_female_urban.json
7    young_adults_female_urban.json
8    young_adults_female_urban.json
9    young_adults_female_urban.json
Name: profile, dtype: string

In [5]:
# Remove the .json ending
df['profile'] = df['profile'].str.replace('.json', '', regex=False)

In [6]:
print(df['profile'].head(10))   # shows first 20 rows

0    young_adults_female_urban
1    young_adults_female_urban
2    young_adults_female_urban
3    young_adults_female_urban
4    young_adults_female_urban
5    young_adults_female_urban
6    young_adults_female_urban
7    young_adults_female_urban
8    young_adults_female_urban
9    young_adults_female_urban
Name: profile, dtype: string

In [7]:
df['profile'].unique()

<StringArray>
['young_adults_female_urban',   'young_adults_male_rural',
    'adults_2550_male_urban',  'adults_2550_female_urban',
   'young_adults_male_urban',    'adults_2550_male_rural',
 'young_adults_female_rural',  'adults_2550_female_rural',
  'adults_50up_female_rural',    'adults_50up_male_urban',
    'adults_50up_male_rural',  'adults_50up_female_urban']
Length: 12, dtype: string

In [9]:
df["age_group"] = df["profile"].str.split("_").str[:2].str.join("_")

In [10]:
df["age_group"].value_counts()

age_group
adults_2550     19218103
adults_50up     11369708
young_adults     4048567
Name: count, dtype: int64

In [11]:
df["location_profile"] = df["profile"].str.split("_").str[-1]

In [1]:
df["location_profile"].value_counts()

NameError: name 'df' is not defined

In [ ]:
df.to_pickle("df_prep_str.pkl")

## 2) Extraction of additional data:

In [ ]:
category_stats = (
    df.groupby('merchant')
      .agg(total_transactions=('merchant', 'count'),
           total_fraud=('is_fraud', 'sum'))
      .reset_index().sort_values(by='total_fraud', ascending=False))

print(category_stats)

In [ ]:
check_column_specials(df, "city")
# check_column_specials(transactions_df, "job")
# check_column_specials(transactions_df, "merchant")

‚úÖ Column 'city' is clean (no special characters in sample).

'Clean'

# Extraction of additional data:

# Data Drops:
- Street? high grnularity
- First and Last name