In [2]:
import sys
print(sys.executable)

c:\Users\User\AppData\Local\pypoetry\Cache\virtualenvs\credit-card-fraud-detection-model-FZHIqfLr-py3.13\Scripts\python.exe

In [7]:
import pandas as pd

In [12]:
customers = pd.read_csv("C:/Users/User/Documents/GitHub/Credit_Card_Fraud_Detection_Model/data/customers.csv", sep="|")
customers.head()

,ssn,cc_num,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,acct_num,profile
0,115-04-4507,4218196001337,Jonathan,Johnson,M,863 Lawrence Valleys,Freeport,ME,4032,43.8570,-70.1031,7879,Accounting technician,1973-10-03,888022315787,adults_50up_male_urban.json
1,715-55-5575,4351161559407816183,Edward,Fuller,M,310 Kendra Common Apt. 164,Chicago,IL,60638,41.7814,-87.7705,2680484,Professor Emeritus,1981-06-07,917558277935,adults_2550_male_urban.json
2,167-48-5821,4192832764832,Melinda,Cameron,F,05641 Robin Port,Reno,NV,89509,39.4980,-119.8239,276896,International aid/development worker,1994-05-30,718172762479,adults_2550_female_urban.json
3,406-83-7518,4238849696532874,Brandon,Williams,M,26916 Carlson Mountain,Lady Lake,FL,32162,28.9471,-81.9971,74047,Seismic interpreter,1971-12-26,947268892251,adults_50up_male_urban.json
4,697-93-1877,4514627048281480,Lee,Hernandez,M,809 Burns Creek,Hermosa Beach,CA,90254,33.8643,-118.3955,19506,Medical laboratory scientific officer,1966-05-22,888335239225,adults_50up_male_urban.json